@{
    ViewData["Title"] = "CIT218 Rocks";
}

<div class="text-center">
    <h1 class="display-4">Web Apps</h1>
    <p>Web Apps are Awesome!</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
